<ion-view title="PhysiAPP">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item href="#/app/mainMenu">
        <!-- Botón para redireccionar a otra página -->
        <a id="citasDomicilio" class="button button-block button-positive" ng-href="#/app/fisios">Socilita tratamiento a domicilio</a>
        <a id="citasClinica" class="button button-block button-positive" ng-href="#/app/users">Busca una clínica</a><br />
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
